$avator-size: 80px;
$point-width: 4px;
$line-border: #e5e5e5;
$line-width: 55px;

.about {
    min-width: 600px;
    min-height: 640px;
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;

    display: flex;
    &-anchor {
        width: 50%;
        border-right: 1px solid $line-border;
        &:last-child {
            border-right: none;
        }
        .info {
            display: flex;
            align-items: center;
            flex-direction: column;
            min-height: 500px;
            .avator {
                width: $avator-size;
                height: $avator-size;
                border-radius: 50%;
            }
            .career {
                li {
                    display: flex;
                    align-items: center;
                    margin: 16px 0;
                    & > span:first-child {
                        width: 40%;
                        text-align: right;
                        &:after {
                            content: ' ';
                            display: inline-block;
                            border-radius: 50%;
                            width: $point-width;
                            height: $point-width;
                            transform: translateY(-$point-width);
                            background: #000;
                            margin: 0px 8px 0 6px;
                        }
                    }
                    & > span:last-child {
                        flex: 1;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
        .skill {
            .line {
                text-align: center;
                &:before {
                    content: ' ';
                    display: block;
                    border-bottom: 2px solid $line-border;
                    opacity: 0.6;
                    transform: translateY($line-width / 2);
                }
                & > span {
                    display: inline-flex;
                    position: relative;
                    z-index: 2;
                    width: $line-width;
                    height: $line-width;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    border: 1px solid $line-border;
                    background: #fff;
                    color: gray;
                }
            }
            &-items {
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding-left: 0;
                margin-top: 30px;
                li {
                    padding: 0 4px;
                    min-width: 50px;
                    height: 35px;
                    border-radius: 5px;
                    border: 1px solid #909090;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    color: #9d9d9d;
                }
            }
        }
    }
}
