.header-menu {
    background: #fafafa;
    &-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;

        i {
            font-size: 17px;
            color: cornflowerblue;
            &:hover {
                color: rosybrown;
            }
        }
        .nav {
            flex: 1;
            display: inline-flex;
            align-items: center;
            justify-content: flex-end;
            li {
                cursor: pointer;
                margin-right: 16px;
            }
        }
    }
}
