$header-height: 40px;
$footer-height: 30px;
$logo-size: 180px;

.content {
    height: 100%;
    display: flex;
    & > aside {
        width: 260px;
        background: #f8f8f8;
        display: flex;
        justify-content: center;
        .info {
            margin-top: 40px;
            text-align: center;
            & > img {
                width: $logo-size;
                height: $logo-size;
                border-radius: 50%;
            }
        }
    }
    & > article {
        flex: 1;

        & > main {
            height: calc(100% - #{$header-height});
            background: #fefefe;
            overflow: auto;
            .list-wrapper {
                min-height: calc(100% - #{$footer-height});
                padding: 20px;
                box-sizing: border-box;
                .resent-item {
                    display: flex;
                    margin-bottom: 20px;
                    height: 130px;
                    img {
                        width: 160px;
                        height: 100%;
                        border-radius: 10px;
                    }
                    .info {
                        flex: 1;
                        position: relative;
                        .tag-list {
                            position: absolute;
                            top: 22px;
                            left: 80px;
                            .tag {
                                padding: 0 4px;
                                margin-left: 6px;
                            }
                        }
                        h3,
                        p {
                            margin: 0;
                            padding: 0;
                        }
                        p.date {
                            font-size: 14px;
                            margin: 4px 0 8px 0;
                        }
                        p.summary {
                            max-width: 600px;
                        }

                        button {
                            width: 80px;
                            height: 32px;
                            border-radius: 2px;
                            border: none;
                            outline: none;
                            color: #494973;
                            cursor: pointer;
                            &:hover {
                                opacity: 0.8;
                            }
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            & > footer {
                height: $footer-height;
                line-height: $footer-height;
                text-align: center;
            }
        }
    }
}
