$header-height: 40px;
$footer-height: 30px;
$logo-size: 180px;

.content {
    height: 100%;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    & > aside {
        margin-right: 20px;
        width: 260px;
        display: flex;
        justify-content: center;
        .info {
            margin-top: 40px;
            text-align: center;
            & > img {
                width: $logo-size;
                height: $logo-size;
                border-radius: 50%;
            }
        }
    }
    & > article {
        flex: 1;

        .list-wrapper {
            // background: #fefefe;
            & > main {
                padding: 20px;
                margin: 0 auto;
                box-sizing: border-box;
                min-height: calc(100% - #{$footer-height});
                width: 96%;
                min-width: 600px;
                max-width: 960px;

                .resent-item {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;
                    padding-top: 8px;
                    border-radius: 4px;
                    background: #fff;
                    box-shadow: -2px 2px 3px #efefef;

                    img,
                    video {
                        margin-top: 10px;
                        width: 100%;
                        height: auto;
                        max-height: 200px;
                        outline: none;
                        cursor: pointer;
                    }

                    .info {
                        padding: 2px 16px;
                        flex: 1;
                        h3,
                        p {
                            margin: 0;
                            padding: 0;
                        }
                        h3 {
                            font-size: 1.6em;
                        }
                        p.date {
                            margin: 6px 0;
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }

                    .tag-list {
                        margin: 10px 2px;
                        .tag {
                            padding: 0 4px;
                            margin-left: 6px;
                        }
                    }
                    .summary {
                        max-width: 600px;
                        padding: 0 6px;
                        font-size: 14px;
                        line-height: 22px;
                    }
                    button.more {
                        width: calc(100% - 16px);
                        margin: 0px auto;
                        margin-top: 0;
                        height: 32px;
                        border-radius: 1px;
                        border: none;
                        outline: none;
                        color: #494973;
                        cursor: pointer;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
            & > footer {
                height: $footer-height;
                line-height: $footer-height;
                text-align: center;
            }
        }
    }
}
