// $aside-width: 200px;
$aside-width: 0px;

.article-wrap > main {
    width: 100%;
    max-width: 650px;
    margin: 20px auto;
    position: relative;
    display: flex;

    & > article {
        width: calc(100% - #{$aside-width});
        & > img {
            max-width: 680px;
            border-radius: 10px;
        }
        & > p:not(.date) {
            line-height: 30px;
        }

        img {
            width: 100%;
            max-width: 680px;
            min-height: 400px;
        }
        & > p {
            line-height: 30px;
        }
    }
    & > aside {
        width: $aside-width;
        margin-top: 20px;
        // padding-left: 20px;
    }
}

@mixin truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

nav#TableOfContents {
    ul {
        li {
            margin-bottom: 10px;
            & > a {
                width: 100%;
                display: inline-block;
                @include truncate;
            }
            & > ul {
                width: calc(100% - 20px);
                margin-top: 6px;
                // margin-left: 30px;
            }
        }
    }
}

.fix-table-content {
    position: fixed;
    top: 26px;
    width: $aside-width;
}
