
@import "./common";

$aside-width: 0px;

.content-wrap > main {
    width: 100%;
    max-width: $content-wrap-width;
    margin: 0 auto;
    position: relative;
    display: flex;
    background: #fff;
    padding: 10px 14px;

    & > article {
        width: calc(100% - #{$aside-width});
        & > h2 {
            margin: 0;
        }
        & > .sub-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 12px 0;
            ul.tags {
                li {
                    display: inline-block;
                }
                .tag {
                    padding: 2px 4px;
                }
            }
        }
        & > img {
            max-width: 680px;
            border-radius: 10px;
        }

        img {
            width: 100%;
            max-width: 680px;
            min-height: 400px;
        }
        section.content {
            & > p {
                text-align: justify;
                line-height: 28px;
            }
        }
        .navigation {
            margin: 24px 0;
            height: 20px;
            position: relative;
            font-family: 'iconfont' !important;
            .previous {
                transition: all 0.2s ease-in-out;
                &:hover {
                    text-shadow: 2px 2px 2px #a6a6a6;
                    transform: translate(-3px, 2px);
                }
            }
            .next {
                transition: all 0.2s ease-in-out;
                &:hover {
                    text-shadow: 2px 2px 2px #a6a6a6;
                    transform: translate(3px, 2px);
                }
            }
            .previous {
                position: absolute;
                left: 0;
                &:before {
                    content: '\ee14';
                }
            }
            .next {
                position: absolute;
                right: 0;
                &:after {
                    content: '\ef0d';
                    margin-left: 6px;
                }
            }
        }
    }
    & > aside {
        width: $aside-width;
        margin-top: 20px;
    }
}

@mixin truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

nav#TableOfContents {
    ul {
        li {
            margin-bottom: 10px;
            & > a {
                width: 100%;
                display: inline-block;
                @include truncate;
            }
            & > ul {
                width: calc(100% - 20px);
                margin-top: 6px;
                // margin-left: 30px;
            }
        }
    }
}

.fix-table-content {
    position: fixed;
    top: 26px;
    width: $aside-width;
}
