@import './common';

$aside-width: 0px;
$line-space: 12px;

.content-wrap > main {
    width: 100%;
    max-width: $content-wrap-width;
    margin: 0 auto;
    position: relative;
    display: flex;
    background: #fff;

    & > article {
        width: calc(100% - #{$aside-width});
        box-shadow: 1px 1px 2px #f2ecf7;

        & > section {
            padding: 10px 14px;

            & > h2 {
                margin: 0;
            }
            & > .sub-info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: $line-space 0;
                ul.tags {
                    li {
                        display: inline-block;
                    }
                    .tag {
                        padding: 2px 4px;
                    }
                }
            }
        }

        img {
            width: 100%;
            height: auto;
            margin-bottom: $line-space;
        }

        section.content {
            & > p {
                text-align: justify;
                line-height: 28px;
            }
        }
    }
    & > aside {
        width: $aside-width;
        margin-top: 20px;
    }
}
@mixin nav-item($content, $translateX) {
    position: absolute;
    transition: all 0.2s ease-in-out;
    &:before {
        content: $content;
    }
    &:hover {
        text-shadow: 2px 2px 2px #a6a6a6;
        transform: translate($translateX, 2px);
    }
}
.navigation {
    margin: 24px 0;
    height: 20px;
    position: relative;
    font-family: 'iconfont' !important;
    .previous {
        @include nav-item('\ee14', -3px);
        left: 0;
    }
    .next {
        @include nav-item('\ef0d', 3px);
        right: 0;
        &:after {
            margin-left: 6px;
        }
    }
}

@mixin truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

nav#TableOfContents {
    ul {
        li {
            margin-bottom: 10px;
            & > a {
                width: 100%;
                display: inline-block;
                @include truncate;
            }
            & > ul {
                width: calc(100% - 20px);
                margin-top: 6px;
                // margin-left: 30px;
            }
        }
    }
}

.fix-table-content {
    position: fixed;
    top: 26px;
    width: $aside-width;
}
