<div class="about-anchor">
    <div class="info">
        <img class="avator" src="/images/bg2.png" alt="hsj" />
        <h2> Shimmer Huang </h2>
        <p> UX设计师</p>
        <ul class="career">
            <li>
                <span> 2020 </span>
                <span> UX规范设计</span>
            </li>
            <li>
                <span> 2019 </span>
                <span> 统一基础组件样式风格</span>
            </li>
            <li>
                <span> 2018 </span>
                <span> xxx</span>
            </li>
            <li>
                <span> 2017 </span>
                <span> xxx</span>
            </li>
        </ul>
    </div>
    <div class="skill">
        <div class="line">
            <span>
                skills
            </span>
        </div>
        <ul class="skill-items">
            <li>PS</li>
            <li>Sketch</li>
        </ul>
    </div>
</div>