<div class="about-anchor">
    <div class="info">
        <img class="avator" src="/images/logo.png" alt="tanyb" />
        <h2> Faith Tan </h2>
        <p> web 开发者</p>
        <ul class="career">
            <li>
                <span> 2020 </span>
                <span> 拓扑组件</span>
            </li>
            <li>
                <span> 2019 </span>
                <span> 可视化图表</span>
            </li>
            <li>
                <span> 2018 </span>
                <span> 国际化/换肤方案</span>
            </li>
            <li>
                <span> 2017 </span>
                <span> 高性能拓扑图流程开发组件</span>
            </li>
            <li>
                <span> 2016 </span>
                <span> 可视化在线平台功能开发及框架搭建</span>
            </li>
            <li>
                <span> 2014 </span>
                <span> ruby</span>
            </li>
            <li>
                <span> 2012 </span>
                <span> C</span>
            </li>
        </ul>

    </div>
    <div class="skill">
        <div class="line">
            <span>
                skills
            </span>
        </div>
        <ul class="skill-items">
            <li>vim</li>
            <li>js</li>
            <li>react</li>
        </ul>
    </div>
</div>