<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {{ block "title" . }}
    <title>{{ .Site.Title }}</title>
    <link href="https://unpkg.com/@videojs/themes@1/dist/sea/index.css" rel="stylesheet">
    {{ end }}
    {{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
    {{- end }}
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1985903_1yyn4zt1io9.css">
    {{ block "css" . }}
    {{ end }}
    {{ $baseStyle := resources.Get "scss/base.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $baseStyle.Permalink }}">
    {{ $headerStyle := resources.Get "scss/header.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $headerStyle.Permalink }}">
</head>

<body>
    {{ block "header" . }}
        {{ partial "header" . }}
    {{ end }}
    <div class="content">
        {{ block "main" . }}
            <div>this is default content of main block</div>
        {{ end }}
    </div>

    {{ block "insertJS" . }}
    {{ end }}

</body>

</html>