<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{ block "title" . }}
        <title>My Block </title>
    {{ end }}
    {{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
    {{- end }}
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1985903_bh2p0bzcit8.css">
    {{ block "css" . }}
    {{ end }}
    {{ $headerStyle := resources.Get "scss/header.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $headerStyle.Permalink }}">
</head>

<body>
    <div class="content">

        {{ partial "header.html" . }}

        {{ block "main" . }}
        this is default content of main block
        {{ end }}

    </div>

</body>

</html>