{{ define "css" }}
{{ $style := resources.Get "scss/section.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ $summaryStyle := resources.Get "scss/summary.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $summaryStyle.Permalink }}">
{{ end }}

{{ define "main" }}
<div class="section-wrap">
    <ul class="list-wrapper">
        {{ range (.Paginator 6).Pages }}
        {{ .Render "summary" }}
        {{ end }}
    </ul>
    {{ template "_internal/pagination.html" . }}
</div>
{{ end }}