{{ define "title" }}
<title> {{ .Title }}</title>
{{ end }}

{{ define "css" }}
{{ $style := resources.Get "scss/single.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}

{{ partial "header.html" . }}
<div id="article-wrap" class="content-wrap article-wrap">
    <main>
        <article>
            <h2>{{ .Title }}</h2>
            <!-- <div class="anchor"> 作者: {{ .Param "author" }}</div> -->
            <div style="margin-bottom: 12px;">
                <span class="date">
                    {{ .Date.Format "2006-Jan-2" }}
                </span>
                <span>
                    {{ range (.GetTerms "tags") }}
                    <span class="tag tag-{{ .LinkTitle }}">{{ .LinkTitle }}</span>
                    {{ end }}
                </span>
            </div>
            {{ with .Param "cover" }}
            <img src="/{{ . }}" alt="cover">
            {{ end }}

            {{ .Content }}
        </article>
        <!-- <aside>
            {{ .TableOfContents }}
        </aside> -->
    </main>
</div>
{{ end }}
