{{ define "title" }}
<title> {{ .Title }}</title>
{{ end }}

{{ define "css" }}
    {{ $style := resources.Get "scss/single.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}
{{ partial "header.html" . }}
<div class="article-wrap">

    {{ $rootPage :=  eq .Dir "/"  }}

    <article>
        <h2>{{ .Title }}</h2>
        {{ if eq $rootPage false }}
        <div class="anchor"> 作者: {{ .Param "author" }}</div>
        <div style="margin-bottom: 12px;">
            <span class="date">
                {{ .Date.Format "2006-Jan-2" }}
            </span>
            <span>
                {{ range (.GetTerms "tags") }}
                <span class="tag tag-{{ .LinkTitle }}">{{ .LinkTitle }}</span>
                {{ end }}
            </span>
        </div>
        {{ end }}
        {{ with .Param "cover" }}
        <img src="/{{ . }}" alt="cover">
        {{ end }}

        <div class="content">
            {{ .Content }}
        </div>
    </article>
    <aside>
        {{ .TableOfContents }}
    </aside>
</div>
{{ end }}

{{ define "insertJS" }}

{{ $global := resources.Get "js/single.js" | resources.Minify }}
<script type="text/javascript" src="{{ $global.Permalink }}"></script>

{{ end }}