<li class="resent-item">
    <div class="info">
        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <p class="date"> {{ .Date.Format "2006-01-02" }}</p>
    </div>

    {{ $withoutCover := .Param "withoutCover" }}

    {{ if eq .Section "posts" }}
        {{ with .Param "cover" }}
            {{ $url := printf "%s/images/%s" $.Site.Params.cdnUrl  . }}
            <div class="cover {{ if eq $withoutCover true }} without-cover {{ end }}" style="--cover:  url({{ $url }})">
                <img src="{{ $url }}" alt="cover">
            </div>
        {{ end }}
    {{ else }}
        {{ with .Param "coverVideo" }}
            {{ $url := printf "%s/images/%s" $.Site.Params.cdnUrl  . }}
            <div class="cover {{ if eq $withoutCover true }} without-cover {{ end }}" style="--cover:  url({{ $url }})">
                <img src="{{ $url }}" alt="cover">
            </div>
        {{ end }}
    {{ end }}

    <p class="summary">{{ .Summary | truncate 120 }} </p>

    <a href="{{ .RelPermalink }}" class="readmore">
        阅览全文
        <i class="iconfont iconNEXT"></i>
    </a>
</li>