<li class="resent-item">
    <div class="info">
        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <p class="date"> {{ .Date.Format "2006-01-02" }}</p>
    </div>
    {{ with .Param "cover" }}
    <img src="{{ $.Site.Params.cdnUrl }}/{{ . }}" alt="cover">
    {{ end }}
    {{ with .Param "coverVideo" }}
    <video class="video-js video-box" controls poster="{{ $.Site.Params.cdnUrl }}/images/{{ . }}">
        <p class="vjs-no-js">
            你的浏览器不支持 <code>video</code> 标签.
        </p>
    </video>
    {{ end }}
    <p class="summary">{{ .Summary | truncate 120 }} </p>

    <button class="more">
        <a href="{{ .RelPermalink }}">
            阅读全文
        </a>
    </button>

    <!-- <div class="tag-list">
        {{ range (.GetTerms "tags") }}
        <a href="{{ .Permalink }}"><span class="tag tag-{{ .LinkTitle }}">{{ .LinkTitle }}</span></a>
        {{ end }}
    </div> -->

</li>