<li class="grid-item">

    {{ with .Param "cover" }}
    <img src="{{ $.Site.Params.cdnUrl }}/{{ . }}" alt="cover">
    {{ end }}

    {{ with .Param "coverVideo" }}
    <video class="video-js video-box" controls poster="{{ $.Site.Params.cdnUrl }}/images/{{ . }}">
        <p class="vjs-no-js">
            你的浏览器不支持 <code>video</code> 标签.
        </p>
    </video>
    {{ end }}


    <div class="desc">
        <h3> {{ .Title }} </h3>
        <p class="date"> {{ .Date.Format "2006-01-02" }}</p>
    </div>

</li>