<header class="header-menu">
    <div class="header-menu-content">
        {{ if not .IsHome }}
        <a href="/"><i class="iconfont iconhome"></i></a>
        {{ end }}
        <ul class="nav">
            <li data-nav-url="/about/"> <a href="/about"><i class="iconfont iconpost1"></i></a> </li>
            <li data-nav-url="/videos/"> <a href="/videos"><i class="iconfont iconvedio"></i></a> </li>
            <li data-nav-url="/posts/"> <a href="/posts"> <i class="iconfont iconpost"></i> </a> </li>
            <li> <a target="_blank" href="https://github.com/july-12"> <i class="iconfont icongit"></i> </a> </li>
        </ul>
    </div>
</header>