<div class="info">
    <img src="{{ $.Site.Params.cdnUrl }}/images/logo.png" alt="image" />
    <h3> 言西澡堂 </h3>
    <h3> Faith </h3>
    <p class="bio"> Programmer & Video Editor </p>
    <div class="contact">
        <p class="email">
            <a href="mailto: seventanyb@gmail.com">
                <i class="iconfont iconyoujian"></i> <span class="text">seventanyb@gmail.com</span>
            </a>
        </p>
        <p> <i class="iconfont icondizhi"></i> <span class="text">中国杭州</span></p>
    </div>

    <ul class="tags">
        {{ range $key, $value := .Site.Taxonomies.tags }}
        <li>
            <a href="{{ $value.Page.Permalink }}">
                <span class="tag tag-{{ $key }}">{{ $key }} {{ .Count }}</span>
            </a>
        </li>
        {{ end }}
    </ul>

    <!-- <div class="social">
        <div class="social-list">
            <a target="_blank" href="https://github.com/july-12"><i class="iconfont icongithub"> </i></a>
            <a target="_blank" href="https://twitter.com/Tanybseven"> <i class="iconfont icontwitter"> </i> </a>
        </div>
    </div> -->

</div>