{{ define "css" }}
{{ $style := resources.Get "scss/home.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}
<aside>
    <div class="info">
        <img src="images/logo.png" alt="image" />
        <h3> Tanyb | Hsj </h3>
        <p class="bio"> web developer | UX Designer </p>
    </div>
</aside>
<article>
    {{ partial "header.html" . }}
    <main>
        <div class="list-wrapper">
            {{ range .Data.Pages.Reverse  }}
            {{ range .Pages }}
            {{ partial "home/resent-item.html" . }}
            {{ end }}
            {{ end }}
        </div>
        <footer>&copy; tanyb</footer>
    </main>
</article>
{{ end }}