{{ define "css" }}
{{ $style := resources.Get "scss/home.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}
<aside>
    <div class="info">
        <img src="{{ $.Site.Params.cdnUrl }}/images/logo.png" alt="image" />
        <h3> Tanyb | Hsj </h3>
        <p class="bio"> web developer | UX Designer </p>
    </div>
</aside>
<article class="inner-content">
    {{ partial "header.html" . }}
    <div class="content-wrap list-wrapper">
        <main>
            {{ range .Data.Pages.Reverse  }}
                {{ range .Pages }}
                    {{ .Render "summary" }}
                {{ end }}
            {{ end }}
        </main>
        <footer>copyright &copy; tanyb | hsj </footer>
    </div>
</article>
{{ end }}