<li class="resent-item">
    <div class="info">
        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <p class="date"> {{ .Date.Format "2006-Jan-2" }}</p>
        <p class="summary">{{ .Summary | truncate 120 }} </p>
        <div class="tag-list">
            {{ range (.GetTerms "tags") }}
            <a href="{{ .Permalink }}"><span class="tag tag-{{ .LinkTitle }}">{{ .LinkTitle }}</span></a>
            {{ end }}
        </div>
    </div>
    {{ with .Param "cover" }}
    <img src="{{ $.Site.Params.cdnUrl }}/{{ . }}" alt="cover">
    {{ end }}
    {{ with .Param "coverVideo" }}
    <video class="video-js video-box" controls poster="{{ $.Site.Params.cdnUrl }}/images/{{ . }}">
        <p class="vjs-no-js">
            你的浏览器不支持 <code>video</code> 标签.
        </p>
    </video>
    {{ end }}

</li>